#kaocha/v1
{:tests [{:id           :unit
          :source-paths ["src/main" "src/cli"]
          :test-paths   ["src/test"]}
         {:id           :spec
          :type         :kaocha.type/spec.test.check
          :source-paths ["src/main" "src/cli"]
          :test-paths   ["src/test"]}]
 :kaocha.filter/skip-meta [:kaocha/skip :no-gen]
 :kaocha.spec.test.check/instrument? true
 :kaocha.spec.test.check/check-asserts? true
 :plugins [:kaocha.plugin/print-invocations
           :kaocha.plugin/orchestra
           :kaocha.plugin/cloverage]
 :cloverage/opts {:output "target/coverage"
                  :html? true
                  :coveralls? true
                  :codecov? true}}
